.Container {
  width: 100%;
  height: 100%;
  background-color: #bee5f6;
  display: flex;
  flex-direction: row;

  .left {
    width: 50%;
    height: 100%;
    background-color: #f5f5f5;
    .SignupDiv {
      display: flex;
      flex-direction: column;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 25%;
      width: 30%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      .Error {
        color: red;
        font-size: 14px;
      }
      label {
        margin-top: 30px;
      }
      input {
        border: 1px solid #ccc;
        border-radius: 50px;
        height: 30px;
        margin-top: 10px;
      }
      input:focus {
        outline: none;
      }
      h3 {
        text-align: center;
      }
      .LoginBtn {
        width: 50%;
        margin: 30px auto;
        background-color: #1b1b1b;
        color: #fff;
        cursor: pointer;
      }
      p {
        text-align: center;
        span {
          cursor: pointer;
          color: #F24236
        }
      }
    }
  }
  .right {
    width: 50%;
    height: 100%;
    background-color: #bee5f6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img {
      width: 50%;
      height: 50%;
    }
    p {
      width: 70%;
    }
  }
}


@media only screen and (max-width: 800px) {
  .Container {
  .right {
    display: none;
  }
  .left {
    width: 100%;
    .SignupDiv {
      left: 50%;
    }
  }
}
}
