.side-menu {
  width: 30%;
  height: 100%;
  background-color: #ccc;
  position: absolute;
  right: 0;
  top: 0;
  .items {
    list-style-type: none;
    display: flex;
    flex-direction: column;

      li {
        margin: 20px;
        font-size: 20px;
      }
  .item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img {
      margin-right: 20px;
    }
  }

  }
  .close {
    padding: 20px;
    cursor: pointer;
  }
}
