.MobileMenuDiv {
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  height: 50%;
  position: absolute;

  .search {
    height: 10%;
    width: 90%;
    border: 1px solid #ccc;
    background-color: #EBEBEB;
    border-radius: 50px;
    outline: none;
    margin-top: 5%;
    margin-left: 5%;
  }

  .search::placeholder {
    padding: 10px;
  }

  .items {
    list-style: none;
    li {
      margin-top: 30px;
    }
  }
}
