.Footer {
  width: 100%;
  background-color: #1B1B1B;
  min-height: 250px;
  max-height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  flex-wrap: wrap-reverse;

  div {
    width: 20%;
    margin-left: 100px;
  }

  .newsletter {
    form {
      input {
        width: 100%;
        height: 15%;
      }

      input:focus {
        outline: none;
      }

      button {
        margin-top: 10px;
        width: 50%;
        border: 0;
        background-color: #F24236;
        color: #fff;
        height: 30px;
        border-radius: 4px;
        cursor: pointer;
      }

      button:focus {
        outline: none;
        border: none;
      }
    }
  }

  .workingHours {
    p {
      font-style: italic;
    }
    span {

    padding: 10px;
    }
  }
}

@media only screen and(max-width: 800px) {
  .Footer {
    text-align: center;
    div {
      margin: 0 auto;
      margin-top: 50px;
      width: 70%;
    }
  }
}
